* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-image: url(./patternBG.jpeg);
    background-attachment: fixed;
    min-height: 100vh;
    max-height:max-content ;
    position: relative;
}

/* scrool */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    height: 0%;
}
::-webkit-scrollbar-thumb {
    background-color: #cc1717;
}

.btn-search {
    border: none !important;
}

.btn-search:hover {
    background-color: #cc1717 !important;
}

.logo {
    margin-left: 15% !important;

}

footer {
    background-color: #222629;
    height: max-content;
    width: 100%;
}

footer span {
    color: white;
    text-align: center;
    direction: ltr;
    padding: 10px 0;

}

@media screen and (max-width: 770px) {
    .logo {
        width: 75% !important;
    }
}

@media screen and (max-width: 420px) {
    .logo {
        width: 125% !important;
        margin: 0% !important;
    }

    .logo-foter {
        display: none !important;
    }
}